@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* :root {
  --background: white;
  --color: black;
} */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
} */
@theme {
  --animate-marquee: marquee 4s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--color-neutral-50);
  --color-text: var(--color-orange-700);
}

/* .mask {
  mask-image: url(../src/assets/mask.svg);
  mask-repeat: no-repeat;
  mask-size: 50px;
} */
